/* open sans font cdn link  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root{
    /* primary  */
    --macaw: #1cb0f6;
    --humpback: #2b70c9;
    --beetle: #ce82ff;
    --bee: #ffc800;
    --fox: #ff9600;
    --cardinal: #ff4b4b;
    --light-hover: rgba(74, 135, 206, 0.20);

    /* neutrals  */
    --eel: #4b4b4b;
    --wolf: #777;
    --hare: #afafaf;
    --swan: #e5e5e5;
    --polar: #f7f7f7;
    --snow: #fff;
    --shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

    /* font family  */
    --font-open-sans: 'Open Sans', sans-serif;

    /* font size  */
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-32: 32px;
    --fs-40: 40px;

    /* font weight  */
    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;
}

/* for universal  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-open-sans);
}


.container-fluid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* overflow-x: hidden; */
}

.back-btn-wrapper{
    width: auto;
    z-index: 9999999;
    background-color: var(--cardinal);
    position: absolute;
    right: 20px;
    top: 15px;
    height: auto;
    padding: .4rem .8rem;
    color: var(--polar);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: var(--fw-semibold);
}

.back-btn-wrapper:hover{
    background: var(--polar);
    color: var(--cardinal);
    border: 2px solid var(--cardinal);
}


/* dashboard aside  */
.aside{
    z-index: 999999;
    height: 100vh;
    /* background-color: red; */
    border: 1px solid var(--hare);
}

/* logo box  */
.logo-box{
    z-index: 9999;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 10px;
    /* background-color: var(--humpback); */
}

.logo-name{
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);
    color: var(--humpback);
}

.nav-link{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: var(--fw-semibold);
    border-radius: 10px;
    z-index: 9999 !important;
}

.nav-link:hover{
    background-color: var(--light-hover);
}

.nav-link.active{
    background-color: var(--light-hover);
    color: var(--humpback);
    font-weight: var(--fw-bold);
}

.btn-signout{
    padding: 8px 25px;
    border: none;
    border-radius: 10px;
    font-weight: var(--fw-medium);
    background-color: var(--fox);
    color: var(--snow);
}

.btn-signout:hover{
    background-color: var(--cardinal);
}

/* dashboard main section  */
.main-section{
    height: 100vh;
    background-color: var(--polar);
    overflow-y: scroll;
}

/* width */
.main-section::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.main-section::-webkit-scrollbar-track {
    border: 1px solid var(--swan); 
    background-color: var(--swan);
}
   
/* Handle */
.main-section::-webkit-scrollbar-thumb {
    background: var(--hare);
}
  
/* Handle on hover */
.main-section::-webkit-scrollbar-thumb:hover {
    background: var(--humpback); 
}

/* profile  */
.profile{
    height: 10vh;
    /* background-color: #2b70c9; */
}

.profile-image{
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background-color: var(--humpback);
}

.username{
    font-weight: var(--fw-bold);
    color: var(--eel);
}
.useremail{
    font-weight: var(--fw-medium);
    color: var(--hare);
    font-size: var(--fs-14);
}


/* search bar  */
.search-bar{
    height: 10vh;
    /* background-color: #0c4a9b; */
}

.search-wrapper{
    width: 70%;
    background-color: var(--swan);
    border: 2px solid var(--humpback);
    padding: 8px 15px;
    border-radius: 10px;
}

.search-wrapper input{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

/* category section  */
.categroy-section{
    height: 10vh;
    background-color: transparent;
    border-bottom: 1px solid var(--swan);
}

.categroy-section h4{
    font-size: var(--fs-16);
    font-weight: var(--fw-bold);
    color: var(--humpback);
}

.categroy-section .category-link{
    width: auto !important;
    height: 40px !important;
    background: var(--swan);
    padding: 9px 15px;
    font-size: var(--fs-14);
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--wolf);
    border-radius: 20px;
    transition:  all .2s ease-in;
}

.categroy-section .category-link:hover{
    background: var(--wolf) !important;
    color: var(--polar) !important;
    /* transform: scale(1.2); */
}


.category-section .my-swiper2{
    overflow-x: scroll;
    width: 1000px;
    height: auto;
}

/* popular course  */
.popular-course{
    height: auto;
    background-color: transparent;
}

.swipper-wrapper{
    width: 100%;
    height: auto !important;
}

.popular-course h4, .latest-course .title h4{
    font-size: var(--fs-16);
    font-weight: var(--fw-bold);
    color: var(--humpback);
}

.popular-course span, .latest-course .title span{
    font-size: var(--fs-14);
    font-weight: var(--fw-semibold);
    color: var(--wolf);
}

.p-card{
    text-decoration: none;
    width: 360px !important;
    height: 260px !important;
    border-radius: 10px;
    border: 1px solid #AFAFAF;
    background: #FFF;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

.p-card:hover{
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.42);
}

.p-card .card-img{
    width: 340px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(175, 175, 175, 0.50);
}

.p-card .card-content .content h5{
    padding-top: 10px;
    font-weight: var(--fw-bold);
    color: var(--eel);
    text-decoration: none;
    font-size: var(--fs-16);
}

.p-card .card-content .content span{
    font-weight: var(--fw-semibold);
    color: var(--wolf);
    font-size: var(--fs-14);
}

.p-card .card-content .price span{
    font-weight: var(--fw-bold);
    color: var(--humpback) !important;
    font-size: 14px;
}

.p-card .badge{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px;
    background-color: var(--swan);
    padding: 10px 10px;
}

/* latest course  */
.latest-course{
    height: 80vh;
    background-color: transparent;
}

.latest-card{
    width: 90%;
    height: 200px;
    background: var(--snow);
    border-radius: 10px;
    border: 1px solid #AFAFAF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.latest-courses .p-card{
    width: 100% !important;
    transition:  all .2s ease-in-out;
}

.latest-course .p-card:hover{
    transform: scale(1.03);
}

.p-card .latest-badge{
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    background-color: var(--polar);
    padding: 10px 10px;
    color: var(--humpback);
    text-decoration: none;
    border-radius: 10px;
    font-size: var(--fs-12);
    font-weight: var(--fw-bold);
    border: 1px solid var(--swan);
    box-shadow: var(--);
}

/* this is swiper section  */
.swiper {
    width: 100%;
    height: 100%;
  }

  .mySwiper{
    height: auto !important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* recent section  */
.recent-section, .profile-section{
    /* z-index: -99; */
    /* width: 100%; */
    z-index: 99;
    height: 100vh;
    background-color: var(--polar);
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: all .8s ease-in-out;
}

.recent-section.active, .profile-section.active{
    transform: translateY(0%);
}



/* progress bar  */
.myprogressbar{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: var(--swan);
    position: relative;
    overflow: hidden;
}
.myprogressbar::before{
    content: "";
    width: 20%;
    height: 100%;
    background-color: var(--humpback);
    position: absolute;
    top: 0;
    left: 0;
}


/* profile card  */
.profile-card-wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.profile-card{
    width: 340px;
    height: 70vh;
    background-color: var(--polar);
    border-radius: 10px;
    box-shadow: var(--shadow);
    border: 1px solid var(--wolf);
}

.profile-card .img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--humpback);
}

.profile-card h3{
    font-weight: var(--fw-bold);
    font-size: var(--fs-18);
    margin-top: 10px;
}

.profile-card span{
    font-weight: var(--fw-semibold);
    font-size: var(--fs-14);
    color: var(--wolf);
}

.profile-card button{
    border: none;
    margin-top: 10px;
    padding: .2rem 1rem;
    border-radius: 15px;
    background: var(--macaw);
    color: var(--snow);
    font-weight: var(--fw-medium);
    font-size: var(--fs-14);
    cursor: pointer;
    transition: all .4s ease;
}

.profile-card button:hover{
    background: var(--light-hover);
    color: var(--wolf);
}

.profile-card .profile-settings{
    cursor: pointer;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
}

.profile-card .profile-settings span{
    font-size: var(--fs-16);
}

.profile-card .profile-settings i{
    font-size: var(--fs-14);
    color: var(--wolf);
}

.profile-card .profile-settings:hover{
    background: var(--swan);
}

@media screen and (max-width: 768px){
    .aside{
        height: 10vh;
    }
    .main-section{
        height: 90vh;
    }
    .nav-link-icon{
        transform: scale(1.5);
    }
    .profile{
        height: 8vh;
    }
    .search-wrapper{
        width: 100%;
    }
    .recent-section, .profile-section{
        height: 90vh;
    }
}