/* open sans font cdn link  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root{
    /* primary  */
    --macaw: #1cb0f6;
    --humpback: #2b70c9;
    --beetle: #ce82ff;
    --bee: #ffc800;
    --fox: #ff9600;
    --cardinal: #ff4b4b;

    /* neutrals  */
    --eel: #4b4b4b;
    --wolf: #777;
    --hare: #afafaf;
    --swan: #e5e5e5;
    --polar: #f7f7f7;
    --snow: #fff;
    --shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

    /* font family  */
    --font-open-sans: 'Open Sans', sans-serif;

    /* font size  */
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-32: 32px;
    --fs-40: 40px;

    /* font weight  */
    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;
}

/* for universal  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* container  */
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* container row  */
.container .row{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

/* hide the scrollbar  */
.container .row::-webkit-scrollbar{
    display: none;
}

/* course image  */
.image-wrap{
    width: 60%;
    height: auto;
}

/* image  */
.img{
    width: 100%;
    height: 50vh;
    border: 1px solid var(--swan);
    box-shadow: var(--shadow);
}

/* course-content-wrap  */
.course-content-wrap{
    width: 60%;
    height: auto;
}

.course-content-details h4{
    font-size: var(--fs-24);
    font-weight: var(--fw-bold);
    color: var(--eel);
}

.course-content-details .title span{
    font-size: var(--fs-16);
    font-weight: var(--fw-semibold);
    color: var(--wolf);
}

.course-content-details .price h5{
    font-size: var(--fs-18);
    font-weight: var(--fw-semibold);
    color: var(--wolf);
}

.course-content-details .price span{
    color: var(--humpback) !important;
}

.course-content-description h4{
    font-size: var(--fs-24);
    font-weight: var(--fw-bold);
    color: var(--eel);
}

.course-content-description p, .course-content-what .what-will-learn{
    font-size: var(--fs-18);
    font-weight: var(--fw-regular);
    color: var(--wolf);
}

.course-content-what h4{
    font-size: var(--fs-24);
    font-weight: var(--fw-bold);
    color: var(--eel);
}

.course-content-what .check-icon{
    font-size: var(--fs-18);
}

.course-models-wrapper-container{
    width: 100%;
    /* display: flex; */
    height: 390px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-modules-wrapper{
    width: 100%;
    display: flex;

}

.course-content-what .list-number span{
    font-size: var(--fs-18);
    font-weight: var(--fw-bold);
    color: var(--eel);
    background-color: var(--swan);
    padding: 10px 20px;
    /* text-align: center; */
    border-radius: 10px;
}

.course-content-what .what-will-learn2{
    font-size: var(--fs-18);
    font-weight: var(--fw-semibold);
    color: var(--wolf);
}

.insturct-img{
    width: 100px;
    height: 100px;
    background: var(--bee);
    border-radius: 50%;
}

.enroll{
    padding: 15px 24px;
    border: none;
    background: var(--humpback);
    border-radius: 10px;
    color: var(--snow);
    font-weight: var(--fw-semibold);
}
.enroll:hover{
    background-color: var(--beetle);
}

.back{
    padding: 15px 29px;
    border: none;
    background: none;
    border: 2px solid var(--hare);
    border-radius: 10px;
    color: var(--eel);
    font-weight: var(--fw-semibold);
}
.back:hover{
    background: var(--wolf);
    color: var(--snow);
    border: 2px solid var(--snow);
}

@media screen and (max-width: 768px) {
    .image-wrap{
        width: 100%;
    }
    .course-content-wrap{
        width: 100%;
    }
    .img{
        height: 30vh;
    }
}

@media screen and (max-width: 430px){
    .img{
        height: 20vh  !important;
    }
}