<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- bootstrap cdn link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- fontawesome cdn js  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- this is css link  -->
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />   
</head>
<body>
    
    <!-- container start  -->
    <div class="container-fluid">
        <div class="row">

            <!-- this is aside bar  -->
            <div class="col-12 col-md-2 aside position-relative overflow-hidden order-1 order-md-0 d-flex flex-row flex-md-column">

                <!-- logo  -->
                <div class="row p-4 mb-5 d-none d-md-block">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="logo-box">
                            <!-- this is logo box  -->
                        </div>
                    </div>
                    <div class="col-12 pt-3 d-flex align-items-center justify-content-center">
                        <h4 class="logo-name">Dev Geeks</h4>
                    </div>
                </div>
                <!-- end of logo  -->

                <!-- aside nav link  -->
                <div class="row d-flex flex-row flex-md-column align-items-center justify-content-center">
                    <div class="col-3 col-md-12 mb-md-2 me-2 me-md-0">
                        <div  class="nav-link explore active px-5">
                            <img class="pe-3 pe-md-0 me-md-2 nav-link-icon" src="../assets/svg/globe-americas.svg" alt="">
                            <span class="d-none d-md-block">Explore</span>
                        </div>
                    </div> 
                    <div class="col-3 col-md-12 mb-md-2 me-2 me-md-0">
                        <div  class="nav-link recent px-5">
                            <img class="pe-3 pe-md-0 me-md-2 nav-link-icon" src="../assets/svg/arrow-repeat.svg" alt="">
                            <span class="d-none d-md-block">Recent</span>
                        </div>
                    </div>
                    <div class="col-3 col-md-12 mb-md-2 me-2 me-md-0">
                        <div  class="nav-link profile px-5">
                            <img class="pe-3 pe-md-0 me-md-2 nav-link-icon" src="../assets/svg/person-circle.svg" alt="">
                            <span class="d-none d-md-block">Profile</span>
                        </div>
                    </div>
                </div>
                <!-- end of aside nav links  -->

                <!-- sign out btn  -->
                <div class="row w-100 d-none d-md-block position-absolute bottom-0 p-3">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <button class="btn-signout">
                            Sign out
                        </button>
                    </div>
                </div>
                <!-- end of sign out btn  -->

            </div>
            <!-- end of aside bar  -->

            <!-- this is main section  -->
            <div class="col-12 col-md-10 main-section px-4 py-2 order-0 order-md-1">
                
                <!-- this is navbar  -->
                <div class="row mb-3">
                    <!-- this is profile  -->
                    <div class="col-12 col-md-6 profile d-flex align-items-center justify-content-start">
                        <div class="profile-image me-3"></div>
                        <div class="profile-name-and-email d-flex flex-column align-items-start justify-content-center">
                            <span class="username">Username</span>
                            <span class="useremail">example@gamil.com</span>
                        </div>
                    </div>
                    <!-- this is search bar  -->
                    <div class="col-12 col-md-6 search-bar d-flex align-items-center justify-content-end">
                        <div class="search-wrapper d-flex align-items-center">
                            <input class="me-3" type="search" placeholder="Search courses...">
                            <img src="../assets/svg/search.svg" alt="">
                        </div>
                    </div>
                </div>
                <!-- this is end of navbar  -->

                <!-- this is category section  -->
                <div class="row mb-3">
                    <div class="col-12 categroy-section">
                        <div class="title mb-2">
                            <h4>Category</h4>
                        </div>
                        <div class="swiper mySwiper2 mt-1">
                            <div class="swiper-wrapper">
                                <a href="" class="category-link swiper-slide">Java</a>
                                <a href="" class="category-link swiper-slide">Python</a>
                                <a href="" class="category-link swiper-slide">HTML</a>
                                <a href="" class="category-link swiper-slide">CSS</a>
                                <a href="" class="category-link swiper-slide">JavaScript</a>
                                <a href="" class="category-link swiper-slide">PHP</a>
                                <a href="" class="category-link swiper-slide">Laravel</a>
                                <a href="" class="category-link swiper-slide">Web Development</a>
                                <a href="" class="category-link swiper-slide">Data Science</a>
                                <a href="" class="category-link swiper-slide">Data Analyte</a>
                                <a href="" class="category-link swiper-slide">Full Stack</a>
                                <a href="" class="category-link swiper-slide">Machine Learning</a>
                                <a href="" class="category-link swiper-slide">Deep Learning</a>
                                <a href="" class="category-link swiper-slide">Angular JS</a>
                                <a href="" class="category-link swiper-slide">NLP</a>
                                <a href="" class="category-link swiper-slide">Algorithm</a>
                                <a href="" class="category-link swiper-slide">Data Structure</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- this is end of category section  -->

                <!-- this is popular course  -->
                <div class="row border-bottom mb-3">
                    <div class="col-12 popular-course p-2">
                        <div class="title mb-2">
                            <h4>Popular Courses</h4>
                            <span>Skills up with these courses!</span>
                        </div>
                        <!-- swiper goes here  -->
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper popular-course-wrapper">

                                <!-- course goes here  -->
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- this is end of poupular course  -->

                <!-- this is latest coures  -->
                <div class="row">
                    <div class="col-12 latest-course">

                        <div class="title mb-3">
                            <h4>Latest Course</h4>
                            <span>Find what it right for you!</span>
                        </div>
                        <!-- course card will go here  -->
                        <div class="row latest-course-wrapper">
                            
                            <!-- latest course goes here  -->

                        </div>



                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                        <div class="mb-5"></div>

                    </div>
                </div>
                <!-- this is end of latest course  -->
                
            </div>
            <!-- this is end of main section  -->

        </div>
    </div>
    <!-- end of container  -->

    <!-- data js file  -->
    <script src="../assets/js/data.js" type="module"></script>
    <script src="../assets/js/api.js" type="module"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper2 = new Swiper(".mySwiper2", {
        slidesPerView: 'auto',
        spaceBetween: 10,
        freeMode: true,
    });

    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 'auto',
        spaceBetween: 20,
        freeMode: true,
    });
    </script>
</body>
</html>