<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap cdn link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- fontawesome cdn js  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- this is css link  -->
    <link rel="stylesheet" href="../assets/css/details.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" /> 
</head>
<body>
    <div class="container">
        <div class="row d-flex align-items-start justify-content-center">

            <!-- course details  -->
            <div class="col-12 image-wrap p-3 border-bottom">
                <!-- image  -->
                <div class="img" style="background: url(../assets/pic/Java-BCG-Banner.png);
                                        background-position: center;
                                        background-size: cover;
                                        background-repeat: no-repeat;"></div>
            </div>

            <!-- course content wrap  -->
            <div class="col-12 course-content-wrap p-3">

                <div class="row d-flex align-items-start justify-content-center">
                    <div class="col-6 d-flex flex-column justify-content-start ">
                        <h4>Core Java</h4>
                        <span>Complete Java Full Course</span>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-end align-items-end">
                        <h5>Price: <span>89.0</span></h5>
                    </div>
                </div>


                <div class="mb-5"></div>
                <div class="mb-5"></div>
                <div class="mb-5"></div>
            </div>

        </div>
    </div>
</body>
</html>