<!-- this is created by kyaw kyi --><!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- fontawesome cdn link  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../assets/css/login.css">
    </head>
    <body>

        <div class="err-msg ">
            <span>Email or Password is incorrect!</span>
        </div>

        <div class="content">
            <!-- for header -->
            <div class="header">
                <div class="img-container"><img src="../assets/images/logo/logo.png" width="80" alt=""></div>
                <div class="log-in">Welcome back</div>
                <div class="text">To continue, please sign up first or login.</div>
            </div>

            <!-- input-start -->
            <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Email</label>
            </div>
            <div class="input-group">
                <input required="" type="password" name="text" autocomplete="off" class="input password">
                <label class="user-label">Password</label>
                <i class="fa-solid fa-eye"></i>
                <i class="fa-solid fa-eye-slash active"></i>
            </div>
            <!-- input-end -->

            <a href="" class="forget-password">Forget Password?</a>
    
            <div  class="continue">
                <button>Continue</button>
            </div>
    
            <div class="or">or</div>
    
            <div class="button-group">
                <button class="social-link"><i class="fa-brands fa-google"></i>Google</button>
                <button class="social-link twitter"><i class="fa-brands fa-twitter"></i>Twitter</button>
                <button class="social-link"><i class="fa-brands fa-instagram"></i>Instagram</button>
            </div>
        
            <div class="line"></div>
    
            <div class="footer">
                <div>Are you new to here?</div>
                <div class="login"><a href="./signup.html">Sign up</a></div>
            </div>
        </div>

        <script src="../assets/js/password.js"></script>
    </body>
    </html>