<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/payment.css">
</head>
<body>
    <div class="item">
        <div class="main">
            <i class="fa-regular fa-credit-card"></i>
            <h4>$89.00</h4>
            <div class="line"></div>    
            <div class="text">Complete Java Full Course</div>
            <div class="item-box">
                <i class="fa-regular fa-circle-xmark"></i>
                <div class="items">
                    <input type="radio" name="check" id="check" class="pay">Balance
                    <input type="radio" name="check" id="check" class="pay" selected>Credit Card
                </div> 
                <!-- <i class="fa-regular fa-circle-xmark"></i> -->
                <div class="input">
                    <input type="email" placeholder="Email Address" class="box">
                    <input type="text" name="card" id="card" placeholder="Card Number" class="box">
                    <input type="date" name="card" id="card" placeholder="MM | YY" class="box">
                    <div class="rem">
                        <input type="checkbox">Remember Me
                    </div>
                </div>
                <button class="btn">Pay Now</button>
            </div>
        </div>
    </div>
    
</body>
</html>