<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Geeks | Payment</title>
    <!-- document tag icon  -->
    <link rel="icon" href="../assets/images/logo/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- bootstrap link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/payment.css">
</head>
<body>
    <div class="item">
        <div class="main">
            
            <i class="fa-regular fa-credit-card d-none d-md-inline "></i>
            <h4 class="d-none d-md-inline">$89.00</h4>
            <div class="line d-none d-md-inline"></div>    
            <div class="text d-none d-md-inline">Complete Java Full Course</div>
            <img class="img d-none d-md-inline" src="../assets/images/logo/1.png" alt="">
            <div class="item-box">

                <!-- back btn  -->
                <a href="./dashboard.html" class="d-none d-md-inline">
                    <i class="fa-regular fa-circle-xmark"></i>
                </a>

                <!-- back btn  -->
                <a href="./dashboard.html" class="d-inline d-md-none">
                    <i class="fa-solid fa-circle-xmark mark2"></i>
                </a>

                <div class="items">
                    <input type="radio" name="check" id="balance" value="balance" class="pay check me-2"><label for="balance">Balance</label>
                    <input type="radio" name="check" id="credit" value="credit" class="pay check me-2" checked><label for="credit">Credit Card</label>
                </div> 
                <!-- <i class="fa-regular fa-circle-xmark"></i> -->
                <div class="input">
                    <input type="email" placeholder="Email Address" class="box">
                    <input type="text" name="card" id="card" placeholder="Card Number" class="box">
                    <input type="date" name="card" id="card" placeholder="MM | YY" class="box">
                    
                    <div class="rem d-inline d-md-none d-flex">
                        <input type="checkbox" class="me-1">Remember Me
                    </div>

                    <div class="rem2 d-none d-md-block d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" class="me-1"><span>Remember Me</span>
                        </div>
                    </div>

                </div>
                <div class="input1">
                    <input type="email" placeholder="Phone Number" class="box">
                    <input type="text" name="card" id="card" placeholder="Enter OPT" class="box">
                    <button id="rem" class="d-inline d-md-none">Get OPT</button>
                    <button id="rem222" class="d-none d-md-inline">Get OPT</button>
                </div>
                <a href="./lecture.html" class="btn">Pay Now</a>
                <span class="total d-block d-md-none">Total : $<small>89.0</small></span>
            </div>
        </div>
    </div>

    <!-- jquery cdn  -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $(".input1").hide();
            $(".check").click(function(){
                $checkValue = $(this).val();
               if($checkValue == "balance"){
                    $(".input1").show();
                    $(".input").hide();
               }else if($checkValue == "credit"){
                    $(".input1").hide();
                    $(".input").show();

               }
                else if($checkValue == "balance"){
                    $(".input").hide();
                    $(".input1").show();
               }
            })
        })
    </script>
        <script src="../assets/js/middleware.js"></script>

    
</body>
</html>