<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/paymentBill.css">
</head>
<body>
    <div class="item">
        <div class="main">
            <i class="fa-regular fa-credit-card"></i>
            <h4>$89.00</h4>
            <div class="line"></div>    
            <div class="text">Complete Java Full Course</div>
            <div class="item-box">
                <div class="items">
                    <input type="radio" name="check" id="check" class="pay" checked>Balance
                    <input type="radio" name="check" id="check" class="pay">Credit Card
                </div> 
                <!-- <i class="fa-regular fa-circle-xmark"></i> -->
               
                <button class="btn">Pay Now</button>
            </div>
        </div>
    </div>
</body>
</html>