<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Geeks | Review</title>
    <!-- document tag icon  -->
    <link rel="icon" href="../assets/images/logo/logo.png">
    <!-- bootstrap cdn link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- fontawesome cdn js  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- this is css link  -->
    <link rel="stylesheet" href="../assets/css/review.css">
    <link rel="stylesheet" href="../assets/css/lecture.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />   
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- this is aside bar  -->
            <div class="col-12 col-md-2 aside position-relative overflow-hidden order-1 order-md-0 d-flex flex-row flex-md-column">

                <div class="mb-5"></div>

                <!-- aside nav link  -->
                <div class="row w-100 d-flex flex-row flex-md-column align-items-center justify-content-center">
                    <div class="col-2 col-md-12 mb-md-2 me-2 me-md-0">
                        <a href="./lecture.html"  class="nav-link explore px-3 text-decoration-none">
                            <img class="pe-3 pe-md-0 me-md-2 nav-link-icon" src="../assets/svg/play-circle.svg" alt="">
                            <span class="d-none d-md-block">Current Lecture</span>
                        </a>
                    </div> 
                    <div class="col-2 col-md-12 mb-md-2 me-2 me-md-0">
                        <a href="./discussion.html" class="nav-link recent px-3 text-decoration-none">
                            <img class="pe-3 pe-md-0 me-md-2 nav-link-icon" src="../assets/svg/chat-left-dots.svg" alt="">
                            <span class="d-none d-md-block">Dicussion</span>
                        </a>
                    </div>
                    <div class="col-2 col-md-12 mb-md-2 me-2 me-md-0">
                        <a href="./review.html"  class="nav-link profile active px-3 text-decoration-none">
                            <img class="pe-3 pe-md-0 me-md-2 nav-link-icon" src="../assets/svg/globe-americas.svg" alt="">
                            <span class="d-none d-md-block">Review</span>
                        </a>
                    </div>
                    <div class="col-2 col-md-12 mb-md-2  me-2 me-md-0">
                        <a href="./certification.html" class="nav-link profile  px-3 text-decoration-none">
                            <img class="pe-3 pe-md-0 me-md-2 nav-link-icon star" src="../assets/svg/star-solid.svg" alt="">
                            <span class="d-none d-md-block">Certification</span>
                        </a>
                    </div>
                </div>
                <!-- end of aside nav links  -->

                <!-- back btn  -->
                <div class="row w-100 d-none d-md-block position-absolute bottom-0 p-3">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <a href="./dashboard.html" class="btn-back mb-md-3">
                            Back
                        </a>
                    </div>
                </div>
                <!-- end of back btn  -->
            </div>
            <!-- end of aside bar  -->  

            <!--review start-->
            <div class="col-12 col-md-10" id="review">
                <h3>Review</h3>
                <p>Please feedback on how was my class? So, I can make changes <br> what you need.</p>

                <!-- this is review  -->
                <div class="row p-2">
                    <div class="box col-12 ms-2 ms-md-5 mt-4 px-3 py-2">
                        <div class="userInfo d-flex">
                            <div class="title mt-2">
                                <div class="img mt-3"></div>
                            </div>
                            <div class="body ms-3 mt-3">
                                <div class="userTitle d-flex">
                                    <span>user name</span>
                                    <div class="time ms-2">8 mins ago</div>
                                </div>
                                <div class="star mt-2 mb-2  d-flex">
                                    <i class="fa-regular fa-star "></i>
                                    <i class="fa-regular fa-star ms-2"></i>
                                    <i class="fa-regular fa-star ms-2"></i>
                                    <i class="fa-regular fa-star ms-2"></i>
                                    <i class="fa-regular fa-star ms-2"></i>
                                </div>
                                <div class="txt">"To be able to take courses at my own pace and ruhythm has been an amazing experience. I can learn whenever it fits my schedule and mood."</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- script  -->
            <script>

                const nav_links = document.querySelectorAll(".nav-link");
                // aside nav links 
                nav_links.forEach(e => {
                    e.addEventListener("click", () => {
                        // remove the active class
                        nav_links.forEach(e2 => {
                            e2.classList.remove("active");
                        })
                        e.classList.add('active');
                    })
                })
                
            </script>

            <!-- review end --> 
        </div>
    </div>
    <script src="../assets/js/middleware.js"></script>

</body>
</html>