<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap cdn link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- fontawesome cdn js  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- this is css link  -->
    <link rel="stylesheet" href="../assets/css/study.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" /> 
</head>
<body>
    <div class="container-fluid overflow-hidden">

        <div class="row video-section position-relative">
            <!-- aside start  -->
            <div class="col-12 col-md-2 order-1 order-md-0 aside">

            </div>
            <!-- end of aside -->

            <!-- video section  -->
            <div class="col-12 col-md-10 order-0 order-md-1 video-section d-flex align-items-start justify-content-center py-3">

                <!-- video start  -->
                <div class="row video-wrapper">

                    <!-- this is video  -->
                    <div class="col-12">
                        <iframe width="100%" height="415" src="https://www.youtube.com/embed/q_rYwKfxc-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <!-- this is end of video  -->

                    <!-- this is week section  -->
                    <div class="col-12 week-section">

                    </div>
                    <!-- this is end of week section  -->

                    <!-- this is video content  -->
                    <div class="col-12 video-list">

                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                    </div>
                    <!-- this is end of video content  -->

                </div>
                <!-- end of video  -->

            </div>

            <!-- review section start  -->
            <div class="col-12 col-md-10 review-section"></div>
            <!-- end of review section  -->

            <!-- discussion section start  -->
            <div class="col-12 col-md-10 discussion-section"></div>
            <!-- end of discussion  -->

            <!-- certification section start  -->
            <div class="col-12 col-md-10 certification-section"></div>
            <!-- end of certification section  -->

        </div>
        <!-- end of video section  -->
        
    </div>
</body>
</html>